body {
  background-color: #a6ffe0;
  margin: 0;
  padding: 10px;
}
#choose {
  width: 500px;
  height: 70px;
  border: 3px solid lightgreen;
  border-radius: 4px;
  color: #ffa571;
  text-transform: capitalize;
  background: #555;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 100px;
  transition: margin-top .3s, margin-left .3s,width .3s, height .2s;
  &:focus {
    color: lightgreen;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 25px;
    width: 600px;
    height: 80px;
  }
  option {
      color: #ffa571;
      font-variant: small-caps;
      font-size: 20px;
    }
}