body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #1a1a1a;
}

img {
    width: 45px;
    height: 45px;
}

#c {
    margin-top: 20px;
    margin-left: 700px;
    background: #d7ffca;
    box-shadow: 0 0 0 6px lightgreen;
    border-radius: 4px;
}
input {
    margin-left: 780px;
    margin-top: 50px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    background: lightcoral;
    text-transform: uppercase;
    font-weight: bold;
}