@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
.jumbotron {
    background: #daffed !important;
}

.ng-valid {
    background-color: lightgreen;
}

span.error {
    color: crimson;
    font-weight: bold;
}

.ng-enter {
    transition: .6s ease all;
    opacity: 0;
    transform: translateX(-100%);
}

.ng-enter-active {
    opacity: 1;
    transform: translateX(0);
}

.ng-leave {
    transition: .6s ease all;
    opacity: 1;
    transform: translateX(0);
}

.ng-leave-active {
    opacity: 0;
    transform: translateX(-100%);
}

i {
    color: #da7a55;
    font-family: 'Indie Flower', cursive;
}

.start .row div a > img {
    width: 350px;
    height: 220px;
}

.thumbnail .thumb img {
    width: 515px;
    height: 573px;
}

.nav {
    background: #fff !important;
}

* {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    font-weight: bold;
    transition: all .3s ease;
}

body,
html {
    display: flex;
    flex-flow: column wrap;
    background: url('../assets/restaurant/restaurant.png');
}

input,
button {
    font-weight: bold !important;
    text-transform: uppercase;
}

table {
    background: #fff !important;
    color: #2a2025 !important;
}

th {
    text-transform: uppercase;
    font-size: 20px;
}

td,
th {
    text-align: center !important;
    padding: 6px !important;
    margin: 10px !important;
    font-weight: 700 !important;
}

table tr td:nth-child(6) {
    width: 400px;
}

table tr td:nth-child(1):hover {
    color: red;
}
