<div ng-show="data.length">
    <table class="table table-hover col-md-6">
        <thead>
        <tr class="danger">
            <th><a ng-click="order('name')" href="" class="glyphicon glyphicon-triangle-bottom states"></a> Name</th>
            <th><a ng-click="order('superpower')" href="" class="glyphicon glyphicon-triangle-bottom states"></a> Superpower</th>
            <th><a ng-click="order('rich')" href="" class="glyphicon glyphicon-triangle-bottom states"></a> Rich</th>
            <th><a ng-click="order('genious')" href="" class="glyphicon glyphicon-triangle-bottom states"></a> Genious</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in data | orderBy:predicate:reverse track by $index" ng-click="saveState()">
            <td>{{person.name}}</td>
            <td><input type="checkbox" ng-model="person.superpower" ng-click='handler()'/></td>
            <td><input type="checkbox" ng-model="person.rich" ng-click='handler()'/></td>
            <td><input type="checkbox" ng-model="person.genious" ng-click='handler()'/></td>
            <td>
                <a class="states" href="" ng-show="!person.confirm" ng-click="hideConfirm($index)">X</a>
                <p ng-show="person.confirm">Are you sure? ( <a class="states" href="" ng-click="deletePerson($index)">Yes</a>
                    <a class="states" href="" ng-click="person.confirm = false">No</a> )
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p><a ng-click="changeRouteS()" ng-class="toggleS" class="states" ng-href="#/super">superpower</a> | <a ng-click="changeRouteR()" ng-class="toggleR" class="states" ng-href="#/rich">rich</a> | <a ng-click="changeRouteG()" ng-class="toggleG" class="states" ng-href="#/genious">genious</a></p>
</div>