<!-- NAVIGATION -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">Home page</a>
    </div>
    <ul class="nav navbar-nav pull-right">
        <li><a ui-sref='dashboard'>Settings</a></li>
        <li><a href='#/login' ng-click="logout()">Logout</a></li>
    </ul>
</nav>
<div class="container">
    <div class="well">
        <h2>Current User: {{ currentUser.email || ' is not exist!'}}</h2>
    </div>
</div>
<!-- Experiment section -->
<div class="container">
    <div class="panel row" ng-controller="MainController">
        <div class="col-xs-4" ng-show='data.length'>
            <a ng-click="selectCategory()" class="btn btn-block btn-success">Full List</a>
            <a ng-repeat="item in data | orderBy:'category' | unique:'category'" ng-click="selectCategory(item)" class="btn btn-block btn-default btn-sm" ng-class="getCategoryClass(item)">{{item}}</a>
            <br>
            <h2>Custom filters</h2>
            <hr>
            <div>
                <div class="input-group">
                    <label> <span class="label label-default">by Name</span>
                        <input class="form-control" type="search" placeholder='by name' ng-model='name'>
                    </label>
                </div>
                <div class="input-group">
                    <label> <span class="label label-default">by Price</span>
                        <input class="form-control" type="search" placeholder='by price' ng-model='price'>
                    </label>
                </div>
                <div class="input-group">
                    <label> <span class="label label-default">page Size</span>
                        <input class="form-control" type="text" placeholder='set Page Size' ng-model='pageSize'>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="jumbotron" ng-repeat="item in data | filter:categoryFilterFn | filter:name | filter:price | range:selectedPage:pageSize track by $index">
                <span class="pull-left label label-info">{{item.price | number:2 }}</span>
                <button ng-click="addProductToCart(item)" class="btn btn-info pull-right btn-raised">Add to Cart</button>
                <h3>{{item.name}}</h3>
                <div class="row">
                    <div class="col-md-6">
                        <a class="thumbnail">
                            <img class='img-responsive' ng-src="assets/img/ground.jpg" alt="ground walls">
                        </a>
                    </div>
                    <div class="col-md-offset-1 col-md-5">
                        <div class="form-group">
                            <label class="control-label">
                                <input type="checkbox" name="check" ng-model='item.forDelete'> Select item</label>
                        </div>
                        <a ui-sref='edit-item' class="btn btn-raised btn-sm btn-warning">Edit Item</a>
                        <a ui-sref='edit-item' class="btn btn-raised btn-sm btn-success">Create Item</a>
                    </div>
                </div>
                <p ng-show='item.show'>{{item.description}}</p>
                <a href="" class='btn btn-default btn-xs btn-raised' ng-click='toggle($index)'>Description</a>
            </div>
            <a ng-show='data.length' href='' class="btn btn-raised btn-danger" ng-click="deleteSelected()">Delete Selected Items ({{countSelected() || 0 }})</a>
            <a ng-show='!data.length' ui-sref='edit-item' class="btn btn-raised btn-success">Create Items</a>
            <div class="pull-right btn-group">
                <a ng-repeat="page in data | filter:categoryFilterFn | pageCount:pageSize" ng-click="selectPage($index + 1)" class="btn btn-default" ng-class="getPageClass($index + 1)">
                {{$index + 1}}</a>
            </div>
        </div>
    </div>
</div>
