<br>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Add new <span class='label label-info'>HERO</span> to your team</div>
        <div class="panel-body">
            <form ng-submit="addItem(hero)" role='form'>
                <div class="form-group">
                    <label for="name">Hero name:</label>
                    <input type="text" class="form-control" id="name" ng-model='hero.name'>
                </div>
                <div class="form-group">
                    <label for="age">Hero age:</label>
                    <input type="text" class="form-control" id="age" ng-model='hero.age'>
                </div>
                <div class="form-group">
                    <label for="nickname">Hero nickname:</label>
                    <input type="text" class="form-control" id="nnickame" ng-model='hero.nickname'>
                </div>
                <div class="form-group">
                    <label for="status">Hero superpowers:</label>
                    <input type="text" class="form-control" id="status" ng-model='hero.superpowers'>
                </div>
                <div class="form-group">
                    <label for="about">Hero description:</label>
                    <textarea class="form-control" id="about" ng-model='hero.description' rows='7'></textarea>
                </div>
                <div class="form-group">
                    <label for="img">Hero img:</label>
                    <input type="text" class="form-control" id="img" ng-model='hero.url'>
                </div>
                <input class='btn btn-success btn-lg' type="submit" value='ADD HERO'>
            </form>
        </div>
    </div>
</div>
