<br>
<div class="container" ng-if='team.length == 0'>
    <div class="btn-group">
        <a class="btn btn-info btn-sm" ui-sref='squad'>TO SQUAD</a>
        <a class="btn btn-success btn-sm" ui-sref='add'>ADD NEW HERO</a>
    </div>
    <div class="jumbotron">
        <h1>Nothing here yet! Please add somebody to your <span class='label label-default'>Team</span></h1>
    </div>
</div>
<div class="panel panel-default" ng-if='team.length !== 0'>
    <div class="panel-heading">Team</div>
    <div class="panel-body">
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nickname</th>
                    <th>Description</th>
                    <th>Age</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='hero in team track by $index'>
                    <td>{{hero.name}}</td>
                    <td>{{hero.nickname}}</td>
                    <td>{{hero.description}}</td>
                    <td>{{hero.age}}</td>
                    <td>
                        <input type='button' class="btn btn-danger btn-xs" value='delete' ng-click="deleteFromTeam($index)" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <input class="btn btn-danger btn-lg text-center" type="button" ng-click="resetTeam()" value="Disband" />
</div>
