* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body,
html {
    background-color: #fafafa !important;
}

input,
textarea {
    padding: 6px;
    margin: 2px;
}

table th,
td {
    text-align: center;
    text-transform: capitalize;
}
