<a ng-href='/' class='btn btn-info btn-lg'>Back to main</a>
<a ng-href='/squad' class='btn btn-info btn-lg'>Back to Squad</a>
<br>
<hr>
<br>
<form ng-submit="addItem(hero)" role='form'>
    <div class="form-group">
        <label for="name">Hero name:</label>
        <input type="text" class="form-control" id="name" ng-model='hero.name'>
    </div>
    <div class="form-group">
        <label for="age">Hero age:</label>
        <input type="text" class="form-control" id="age" ng-model='hero.age'>
    </div>
    <div class="form-group">
        <label for="nickname">Hero nickname:</label>
        <input type="text" class="form-control" id="nnickame" ng-model='hero.nickname'>
    </div>
    <div class="form-group">
        <label for="status">Hero status:</label>
        <input type="text" class="form-control" id="status" ng-model='hero.status'>
    </div>
    <div class="form-group">
        <label for="about">Hero about:</label>
        <input type="text" class="form-control" id="about" ng-model='hero.about'>
    </div>
    <div class="form-group">
        <label for="img">Hero img:</label>
        <input type="text" class="form-control" id="img" ng-model='hero.img'>
    </div>
    <input class='btn btn-default text-right' type="submit" value='add Hero'>
</form>
