<a ng-href='/' class='btn btn-info btn-lg'>Back to main</a>
<a ng-href='/add' class='btn btn-info btn-lg'>add Hero</a>
<br>
<hr>
<br>
<table class="table table-stripped table-bordered">
    <thead class="success">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Nickname</th>
            <th>Status</th>
            <th>About</th>
            <th>Photo</th>
            <th>Fire from Squad</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-hide='data.length'>
            <td colspan="7" class="text-center">No Data</td>
        </tr>
    </tbody>
    <tr ng-repeat='hero in data track by $index'>
        <td ng-bind="hero.name" style='cursor: pointer' ng-click="sayName(data[$index].name)"></td>
        <td ng-bind="hero.age"></td>
        <td ng-bind="hero.nickname"></td>
        <td ng-bind="hero.status"></td>
        <td ng-bind="hero.about"></td>
        <td>
            <div class="col-sm-4 col-sm-offset-4">
                <div class="thumbnail">
                    <img class='img-responsive' ng-src="{{hero.img}}" alt="avengers">
                </div>
            </div>
        </td>
        <td>
            <i style='color: crimson; cursor: pointer' ng-click='deleteItem($index)' class="glyphicon glyphicon-remove col-sm-offset-2"></i>
        </td>
    </tr>
</table>
<input class='btn btn-success' value="Look at them" type="button" ng-click='loadData()'>
<button ng-click='reset()' class='btn btn-danger'>Fire All <span class="badge">{{data.length || 0}}</span></button>
</div>
