<!DOCTYPE html>
<html ng-app='myApp'>

<head>
    <meta charset="UTF-8">
    <title>ngCompass</title>
    <script src='bower_components/jquery/dist/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='bower_components/angular/angular.min.js'></script>
    <script src='bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
</head>

<body ng-controller="myCtrl" style="background: {{ color }}; color: {{color2}}">
    <div class="form-group  col-md-offset-9 col-md-3">
        <h5>Enter your values here and see NG magic!</h5>
        <input ng-model='color' type="text" placeholder="enter bgColor" class="form-control">
        <input ng-model='color2' type="text" placeholder="enter elemsColor" class="form-control">
    </div>
    <hr>
    <div class="row">
        <div class="panel col-md-12 text-center">
            <h3 class="panel-heading">Choose your <em>Route</em></h3>
            <a class="btn btn-default btn-lg" ui-sref="home">Walls</a>
            <a class="btn btn-success btn-lg" ui-sref="about">Cars</a>
            <a class="btn btn-primary btn-lg" ui-sref="description">Nature</a>
            <a class="btn btn-warning btn-lg" ui-sref="deep">Ocean</a>
            <a class="btn btn-danger btn-lg" ui-sref="task">TaskList</a>
            <a class="btn btn-info btn-lg" ui-sref="rest">Rest API</a>
        </div>
        <hr>
        <!-- NG View -->
        <main ui-view style="margin: 30px"></main>
        <br>
        <hr>
        <!-- End of NG View -->
        <script src='scripts/app.js'></script>
        <script src='scripts/controllers/controller.js'></script>
        <script src='scripts/directives/directive.js'></script>
        <script src='scripts/services/service.js'></script>
</body>

</html>
