<!doctype html>
<html ng-app="superPowers">

<head>
    <meta charset="UTF-8">
    <title>JustCoded</title>
    <!-- inject:css -->
    <!-- endinject -->
    <link rel="stylesheet" href="vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <script src="vendor/bower_components/angular/angular.min.js"></script>
    <script src="vendor/bower_components/ngstorage/ngStorage.min.js"></script>
    <script src="vendor/bower_components/angular-route/angular-route.min.js"></script>
</head>

<body ng-controller="superCtrl" ng-init="loadState(); handler()">
    <navigation></navigation>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-xs-7 wrapper">
                <form ng-submit="addPerson()" name="superForm" novalidate>
                    <h2>ADD NEW PERSON</h2>
                    <input type="text" placeholder="Name" name="name" ng-model="name" required/>
                    <label>
                        <input type="checkbox" ng-model="superpower" /> Superpower</label>
                    <label>
                        <input type="checkbox" ng-model="rich" /> Rich</label>
                    <label>
                        <input type="checkbox" ng-model="genious" /> Genious</label>
                    <input type="submit" value="Add" ng-disabled="superForm.$invalid" ng-click="saveState()" />
                    <br>
                    <span class="error" ng-show="superForm.name.$error.required">                      
                  Please enter a name </span>
                </form>
                <br/>
                <hr/>
                <!-- ng-view for our templates-->
                <ng-view></ng-view>
            </div>
            <sidebar class="col-xs-offset-1 col-xs-4"></sidebar>
        </div>
    </div>
    <script src="scripts/modules/app.js"></script>
    <script src="scripts/services/services.js"></script>
    <script src="scripts/config/app.config.js"></script>
    <script src="scripts/controllers/superCtrl.js"></script>
    <script src="scripts/directives/nav.js"></script>
    <script src="scripts/directives/sidebar.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>
