<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">Settings</a>
    </div>
    <ul class="nav navbar-nav pull-right">
        <li><a ui-sref='home'>Home</a></li>
        <li><a href='#/login' ng-click="logout()">Logout</a></li>
    </ul>
</nav>
<br />
<div class="container">
    <table id="productTable" class="table table-stripped">
        <thead>
            <tr class="info">
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>tel #</th>
                <th>password</th>
                <th>edit settings</th>
                <th>change password</th>
            </tr>
        </thead>
        <tr ng-show="!editUser">
            <td>{{currentUser.fname}}</td>
            <td>{{currentUser.lname}}</td>
            <td>{{currentUser.email}}</td>
            <td>{{currentUser.tel}}</td>
            <td>{{currentUser.pwd}}</td>
            <td>
                <button ng-click="editUserSettings()" class="btn btn-xs btn-info">
                    Edit Settings
                </button>
            </td>
            <td>
                <button ng-click="changePwd()" class="btn btn-xs btn-danger">
                    Change password
                </button>
            </td>
        </tr>
        <tr ng-show="editUser">
            <td>
                <input type="text" name="fname" placeholder="" ng-model='currentUser.fname'>
            </td>
            <td>
                <input type="text" name="lname" placeholder="" ng-model='currentUser.lname'>
            </td>
            <td>
                <input type="email" name="emai" placeholder="" ng-model='currentUser.email'>
            </td>
            <td>
                <input type="tel" name="tel" placeholder="" ng-model='currentUser.tel'>
            </td>
            <td colspan="3">
                <button ng-click="saveUserSettings()" class="btn btn-xs btn-info">
                    Save Settings
                </button>
            </td>
        </tr>
        <tr ng-show='editPwd'>
            <td colspan="4"></td>
            <td>
                <input placeholder='************' ng-model="currentUser.pwd" required />
            </td>
            <td></td>
            <td>
                <button ng-click='saveUserPassword()' class="btn btn-default btn-sm btn-raised">Save</button>
            </td>
        </tr>
    </table>
</div>
